/* Main Style Sheet */
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* padding: 10px; */
  /* border: 1px solid red; */
}

body {
  background-image:url('images/allmightbackground6-small.png');
  background-repeat: repeat;
  /* background-size: cover; */
  background-color: #2f8e67;
  text-align: center;
  color: #101010;
  margin: 0;
  margin-top: -50px;
  /* text-align: center; */
}

p {
  color: #101010;
  background-color: #fde816;
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.25;
  text-align: justify;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px; */
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px 15px 15px 15px;
  border-style: inset;
  border-color: #101010;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: #fde816;
  text-decoration: underline;
}

a:active {
  color: #503141;
}

/* a:visited {
  color: #bb0101;
} */

img {
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: bold;
  font-style: italic;
  padding-top: 0px;
  padding-bottom: 0px;
  clear: both;
}

h1 {
  color: #fde816;
  font-family: Impact;
  font-size: 50px;
  font-weight: 200;
  line-height: 1.25;
  text-align: center;
}

h2 {
  color: #101010;
  font-family: Impact;
  /* background-color: #fde816; */
  font-size: 50px;
  font-weight: 200;
  line-height: 1.25;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 5px solid black;
  padding-top: 10px;
}

h3 {
  color: #ffffff;
  font-family: Helvetica;
  text-decoration: underline;
  font-size: 30px;
  line-height: 1.25 ;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 5px solid black;
  padding: 5px;
}

h4 {
  color: #101010;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

h5 {
    color: #101010;
    font-family: Helvetica;
    font-size: 30;
    text-align: center;
    margin: auto 0;
    padding: 5px;
    width: 800px;
}

h6 {
    color: #101010;
    font-family: helvetica;
    font-size: 40;
    text-align: center;
    margin: auto 0;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
}

.title {
  font-size: 60px;
  text-align: left;
}

.container {
  max-width: 1345px;
  width: 800px;
  margin: 0 auto;
}

.banner {
  height: 235px;
  width: 180px;
  margin: 0 auto;
  background-color: white;
  /* background-image:url('images/city.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.banner h4 {
  text-shadow: black 1px 1px 2px;
  border-style: inset;
  border-color: #2f8e67;
}

.fav {
  margin-right: 35px;
}

.fav h2 {
  width: 800px;
}
.float-image {
  float: left;
}

.float-1-1 {
  float: right;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 17px;
  padding-bottom: 1px;
  border-radius: 5px 5px 5px 5px;
}

.float-1-2 {
  float: right;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 17px;
  padding-bottom: 1px;
  /* border-radius: 5px 5px 5px 5px; */
}

.float-1-3 {
  float: right;
  padding-top: 7px;
  padding-right: 17px;
  /* padding-bottom: 5px; */
  padding-left: 5px;
  /* border-radius: 5px 5px 5px 5px; */
}

.float-1-4 {
  float: right;
  padding-top: 7px;
  padding-bottom: 1px;
  padding-right: 17px;
  padding-left: 5px;
  /* border-radius: 5px 5px 5px 5px; */
}

.float-2-1 {
  float: left;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 5px;
  padding-bottom: 1px;
  /* border-radius: 10px 10px 10px 10px; */
}

.float-2-2 {
  float: left;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 1px;
  padding-right: 5px;
  /* border-radius: 5px 5px 5px 5px; */
}

.float-2-3 {
  float: left;
  padding-top: 7px;
  padding-left: 12px;
  padding-bottom: 3px;
  padding-right: 5px;
  /* border-radius: 5px 5px 5px 5px; */
}

.float-2-4 {
  float: left;
  padding-top: 7px;
  /* padding-bottom: 125px; */
  padding-right: 5px;
  padding-left: 12px;
  /* border-radius: 5px 5px 5px 5px; */
}

section {
  clear: both;
}

.column {
  width: 50%;
  float: left;
}

.p-hero {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}

.p-left {
  text-align: justify;
  padding-left: 5px;
  margin-left: 5px;
}

.p-right {
text-align: justify;
padding-right: 5px;
margin-right: 5px;
margin-left: 5px;
}

.p-right-1 {
  text-align: justify;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.two-heroes {
  text-decoration: underline;
}
